/src/config/vim/
!/src/config/vim/vimrc
/src/config/nvim/
!/src/config/nvim/init.vim
!/src/config/nvim/lazy-lock.json
/src/home/.emacs.d/*
!/src/home/.emacs.d/custom.el
!/src/home/.emacs.d/init.el
!/src/home/.emacs.d/lisp/

/src/config/alacritty/themes

/src/config/fish
!src/config/fish/config.fish

__pycache__
tags

/src/config/tmux/plugins/*
