# Ignore everything
*

# Include Vim config
!*.vimrc
!.vim/**

# Bash config
!*.bashrc
!.bash_profile
!.profile

# Git 
!.gitignore

# Tmux configs
!.tmux.conf
!.tmux.conf.local

!.zshrc

!.config/
/.config/*

# RTV
!.config/rtv/
!.config/rtv/**

# Ranger config
!.config/ranger/
!.config/ranger/**
!.mailcap

# Mutt 
!/.mutt/
!/.mutt/**
/.mutt/mailboxes

# Offline Imap
!/.offlineimap/
!/.offlineimap/*
!/.offlineimap/offlineimap_scripts.py 
!.offlineimaprc

!README.md
